<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous"
  referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
  <title>Equilibrium</title>
</head>

<body>

  <!-- navigation -->
  <header>
    <h1>Equilibrium</h1>
    <nav>
      <a href="/about">About</a>
      <a href="/login">Home</a>
      <i class="fa-solid fa-mountain-sun"></i>
      <a href="/login">Sign in</a>
      <a href="/signup">Sign up</a>
    </nav>



  </header>
  <main class="aboutPage">
    <img class="stoneImg" src="assets/stone.png" alt="">
    <section class="missionStatement">
    
     <h2>Wellness begins with our mind.</h2>
       <p>Equilibrium brings balance through daily practice of gratitude, affirmations, journaling and meditation.</p>
    </section>
  </main>
  <section class="sectionInfo">
    <!-- Gratitude about -->
    <section class="gratitudeSec">
      <h4>Gratitude</h4>
      <p>People who regularly practice gratitude by taking time to notice and reflect upon the things they're thankful for experience more positive emotions, feel more alive, sleep better, express more compassion and kindness, and even have stronger immune systems.</p>
    </section>

    <!-- Affirmation about -->

    <section class="affirmSec">
      <h4>Affirmations</h4>
      <p>Positive affirmations have been shown to reduce negative thoughts, as they allow you to become more aware of your thought patterns and feelings. This, in turn, makes it harder for negative thoughts and feelings to take form or hold merit.</p>
    </section>

    <!-- Meditation about -->

    <section class="medSec">
      <h4>Meditation</h4>
      <p>Daily meditation can help you perform better at work! Research found that meditation helps increase your focus and attention and improves your ability to multitask. Meditation helps clear our minds and focus on the present moment – which gives you a huge productivity boost. Lowers risk of depression.</p>
    </section>

    <!-- journal about -->

    <section class="journalSec">
      <h4>Journaling</h4>
      <p>Journaling helps control your symptoms and improve your mood by: Helping you prioritize problems, fears, and concerns. Tracking any symptoms day-to-day so that you can recognize triggers and learn ways to better control them. Providing an opportunity for positive self-talk and identifying negative thoughts.</p>
    </section>

  </section>

</body>
</html>
