<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous"
    referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
  <title>Equilibrium</title>
</head>

  <body>
      <h1>Equilibrium   <i class="fa-solid fa-mountain-sun"></i></h1>
    <!-- navigation -->
    <header>
      <nav>
        <a href="/about">About</a>
        <a href="/index">Home</a>
        <i class="fa-solid fa-mountain-sun"></i>
        <a href="/profile">Profile</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </nav>
    </header>
  <h2>Affirmations</h2>
    <section class="row">
      <% for(var i=0; i<affirmation.length; i++) {%>
      <section  id="<%=affirmation[i]._id%>">
        <ul class="messages mood">

          <li class="message reflecAff">
            <p><%= affirmation[i].affirmDate %></p>
            <p><%= affirmation[i].affirmString %></p>
            <span><i class="fa fa-trash" aria-hidden="true"> Delete</i></span>
          </li>
        </ul>
      </section>
      <% } %>
      </section>
      <script src="main.js"></script>
  </body>



</html>
