<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Equilibrium</title>
</head>



<body>
  <!-- navigation -->
  <nav>
    <a href="/about">About</a>
    <a href="/index">Home</a>
    <i class="fa-solid fa-mountain-sun"></i>
    <a href="/profile">Profile</a>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </nav>

</section>

<!-- Main Content -->
<section class="mainContent">

  <!-- Left column -->
  <section class="columnLeft">

    <!-- affirmations -->
    <section class="contentA">
      <h3><a href="/affirmations">Affirmations</a></h3>
      <p>Write down your affirmations for the day and come back through the day to reflect on them.</p>
      <form class="affirm" action="/affirmationsList" method="post">
        <input type="text" name="affirmString" value="">
      <button type="submit" name="button">Submit</button>
      </form>
    </section>

<!-- Gratitude -->
    <section class="contentB">
      <h3><a href="/gratitude">Gratitude</a></h3>

      <p>Record what you're grateful for today.</p>
      <form class="gratitude" action="/gratitude" method="post">
        <input type="text" name="gratitudeString" value="">
        <button type="submit" name="button">Submit</button>
      </form>
    </section>
  </section>

  <!-- Middle column -->
  <section class="columnMiddle">

    <!-- Meditation -->
    <h3> <a href="/meditation">Meditation</a> </h3>
    <p>Track your meditation time and set reminders. </p>
    <form class="meditation" action="/meditation" method="post">
        <span>Start Time</span>
    <input class="time" type="time" name="meditationTime" value="">
      <span>End Time</span>
        <input class="time" type="time" name="meditationTime" value="">
      <button id="submitMeditation" type="submit" name="button">Submit</button>
    </form>

    <!-- <button id="updateChart" type="submit" name="button">Update Chart</button> -->

<section class="meditationData">
  <canvas id="myChart"></canvas>
</section>

  </section>

  <!-- Right Column -->
  <section class="columnRight">

    <!-- Journal -->
    <h3> <a href="/journal">Journal</a> </h3>
    <p>How are you feeling today?</p>
    <form class="journal" action="/journal" method="post">
      <textarea id="journalString" name="journalString" rows="8" cols="80"></textarea>
        <button type="submit" name="button">Submit</button>
    </form>
  </section>
</section>
<script src="main.js" charset="utf-8"></script>
</body>

</html>
