* {
  box-sizing: border-box;

}

body {
background: lightgray;
}

/* navigation */
nav {
  width: 100%;
  background: rgb(63, 95, 84);
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 7px;
  align-items: center;
}

/* logo */
.fa-mountain-sun {
  font-size: 20px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.mission {
  background: rgb(63, 95, 84);
  width: 100%;
  height: 255px;
  border: solid 1px black;
  Display flex;
  flex-direction: row;
  border-radius: 7px;
  margin: 0;
}

/* Affirmation board, Meditation tracker and journal section */
.mainContent {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
}

/* left affirmations and goals column */
.columnLeft {
  width: 33.3%;
  height: 625px;
  border-radius: 7px;
  margin-top: 10px;
  background: white;
  color: white;
  /* margin-left: 15px; */
}

/* Top and bottom left colum sections */
.contentA {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 49%;
  border: 1px solid darkgray;
  border-radius: 7px;
  background: gray;
  margin-bottom: 7px;
}

.contentB {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  border: 1px solid darkgray;
  border-radius: 7px;
  background: gray;
  margin-top: 7px;
}

/* middle  mediatation column */
.columnMiddle {
  width: 33.3%;
  height: 625px;
  border: solid 1px darkgray;
  border-radius: 7px;
  margin-top: 10px;
  background: gray;
  margin-left: 15px;
  padding: 10px;
}

/* forms */

.affirm, .gratitude, .meditation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* buttons */

.btn {
  background:  white;
  border-radius: 7px;
  color: black;
}

h3 {
  text-align: center;
  color: white;
}

/* right  journal column */
.columnRight {
  width: 33.3%;
  height: 625px;
  border: solid 1px darkgray;
  border-radius: 7px;
  margin-top: 10px;
  background: gray;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journal {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 98%;
  height: 300px;
  border-radius: 10px;
}

p {
  text-align: center;
  color: white;
  margin: 10px;
}

/* buttons */
input {
  border-radius: 7px;

}

li {
  list-style: none;
}
