* {
  box-sizing: border-box;
  font-family: 'Comfortaa';
}

body {
  background: lightgray;
  margin: 0px;
  margin-left: 180px;
  margin-right: 180px;
  font-size: 15px;
}

h1 {
  font-size: 25px;
  width: 20%;
  height: auto;
  border-radius: 4px;
  color: rgba(75, 192, 192, 1)
}

/* navigation */
nav {
  width: 100%;
  background: rgba(75, 192, 192, 1);
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 1px solid black; */
  border-radius: 7px;
  align-items: center;
}

/* logo */
.fa-mountain-sun {
  font-size: 20px;
  color: white;
}

.fa-trash {
  font-size: 14px;
  color: rgb(210, 106, 121);
}

/* Login Info */
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  border: 5px double rgba(75, 192, 192, 1);
  border-radius: 4px;
  padding: 50px;
  font-size: 18px;
}

/* Mission statment section on about page */
.aboutPage {
  width: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  background: white;
  margin-top: 13px;
}

.missionStatement {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.missionStatement>p {
  font-size: 16px;
}

.sectionInfo {
  margin-top: 50px;
  border-radius: 7px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 40px;
}

.gratitudeSec, .affirmSec, .medSec, .journalSec {
  border: 5px double rgba(75, 192, 192, 1);
  border-radius: 7px; */
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 7px;
  background: white;
  width: 100%;
}

.gratitudeSec {
  margin-left: 0;
}

.journalSec {
  margin-right: 0;
}

.hideG {
  display: none;

}

.hideA {
  display: none;
}

.hideM {
  display: none;
}

.hideJ {
  display: none;
}

.hoverG:hover+.hideG {
  display: block;
}

.hoverA:hover+.hideA {
  display: block;
}

.hoverM:hover+.hideM {
  display: block;
}

.hoverJ:hover+.hideJ {
  display: block;
}

.stoneImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  height: auto;
  border-radius: 7px;
}

a {
  color: gray;
  text-decoration: none;
}

nav>a {
  color: white;
}

.mission {
  background: rgb(63, 95, 84);
  width: 100%;
  height: 255px;
  border: solid 1px black;
  Display flex;
  flex-direction: row;
  border-radius: 7px;
  margin: 0;
}

/* Affirmation board, Meditation tracker and journal section */
.mainContent {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
}

/* left affirmations and goals column */
.columnLeft {
  width: 25%;
  height: 750px;
  border-radius: 7px;
  margin-top: 10px;
  background: lightgray;
  color: white;
  /* margin-left: 15px; */
}

/* Top and bottom left colum sections */
.contentA {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 49%;
  border: 1px solid darkgray;
  border-radius: 7px;
  background: white;
  margin-bottom: 7px;
}

.contentB {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  border: 1px solid darkgray;
  border-radius: 7px;
  background: white;
  margin-top: 7px;
}

/* middle  mediatation column */
.columnMiddle {
  width: 50%;
  height: 750px;
  border: solid 1px darkgray;
  border-radius: 7px;
  margin-top: 10px;
  background: white;
  margin-left: 15px;
  padding: 10px;
}

/* meditation data graph */
canvas {
  margin: 30px;
  width: 400px;
  height: 300px;
}

/* forms */
.affirm, .gratitude, .meditation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Home page section titles */
h2 {
  text-align: center;
  padding: 10px;
}

h3 {
  text-align: center;
  color: black;
}

h4 {
  text-align: center;
  color: black;
}

/* right  journal column */
.columnRight {
  width: 25%;
  height: 750px;
  border: solid 1px darkgray;
  border-radius: 7px;
  margin-top: 10px;
  background: white;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journal {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 98%;
  height: 300px;
  border-radius: 10px;
}

p {
  text-align: center;
  color: black;
  /* margin: 10px; */
  padding: 8px;
}

.colorP {
  color: black;
}

/* Inputs for the user */
input, textarea {
  border-radius: 7px;
  background: lightgray;
  margin: 10px;
}

li {
  list-style: none;
}

/* Profile */
.profileMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dailyInspo {
  display: flex;
  flex-direction: row;
  border: 5px double rgba(75, 192, 192, 1);
  border-right: none;
  border-radius: 7px;
  align-content: center;
  align-items: center;
  height: 400px;
}

.dailyInspo>img {
  border-radius: 7px;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 7px;
  width: 50%;
  background: white;
  margin: 150px;
  padding-left: 5px;
  padding: 20px;
}

.btn-default {
  background: gray;
  color: white;
  padding: 2px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 3px;
}

button {
  background: gray;
  color: white;
  border-radius: 4px;
}
